body, html {
  font-family: monospace;
  margin: 0; padding: 0;
  background-color: rgb(131, 167, 235);
}

/* basic elements */
  .toolbar {
    padding: 10px;
    height: fit-content;
    background-color: cornflowerblue;
    display: flex;
  }

  #workflow {
    padding: 10px;
    width: 100%; height: max-content;
    position: relative;
    display: flex; flex-wrap: wrap;
    z-index: 1;
  }

  .artist_tile, .manager_tile {
    position: relative;
    margin: 10px; padding: 10px;
    box-shadow: 5px 5px black;
    width: 300px; 
    height: fit-content;
    color: black;   
  }

  .artist_tile  { border: 2px solid purple; background-color: plum; }
  .manager_tile { border: 2px solid rgb(133, 102, 0); background-color: yellow; }
   
  .notifications, #notifications {
    position: absolute;
    padding: 5px;
    width: 500px;
    top: 20px; left: 1200px;
    z-index: 1000;
  }
  

  .alert {
    position: relative;
    margin: 5px;
    border: 5px groove darkgreen; background-color: rgb(77, 202, 77);
    box-shadow: 5px 5px midnightblue;
  }

  #alertheader { font-size: x-large; font-weight: bolder; }
  #alertheader, #alertcontent { padding: 5px; color: black; }

/* tile section */
  .tilebuttonsection { position: relative; padding: 5px; display: flex; flex-wrap: wrap;}  
  .tilebrackets { color: grey; }
  #tileheader { font-size: x-large; }
  
  #artist_tile_button { margin: 5px; padding: 5px; width: fit-content; border: 1px groove black; cursor: pointer; }
  #artist_tile_button  { background-color: rgb(221, 131, 221); }
  #manager_tile_button { background-color: rgb(133, 102, 0);}  

/* dialog section */
  .dialog {
    position: absolute;
    padding: 5px;
    width: 400px;
    top: 300px; left: 700px;
    border: 3px groove rgb(109, 79, 109); background-color: plum;
    visibility: hidden;
    box-shadow: 5px 5px darkviolet;
    z-index: 2;
  }

  .manageremploymentdialog {
    position: absolute;
    width: 600px;
    padding: 5px;
    top: 150px; left: 300px;
    border: 3px groove rgb(133, 102, 0);
    background-color: yellow;
    box-shadow: 5px 5px black;
    z-index: 2;
  }

  .epochsdialog {
    position: relative;
    width: 400px; height: fit-content;
    padding: 5px;
    border: 3px groove rgb(109, 79, 109); background-color: plum;
    box-shadow: 5px 5px black;
    z-index: 2;
  }

  .mailwindow {
    position: absolute; visibility: visible;
    width: 500px; top: 200px; left: 500px;
    padding: 5px;
    z-index: 3;
    box-shadow: 5px 5px black;
    border: 3px groove black;
    background-color: rgb(97, 144, 231);
  }

  #dialog
  #dialogheadercontent { margin: 0; padding: 0; font-weight: bold; }
  .dialogheader, .mailheader { height: 20px; text-align: center; }
  .dialogheader { background-color: rgb(214, 119, 214); }
  .mailheader { background-color: rgb(43, 110, 235); }

/* toolbar section */
  #createbandbutton, #moneyscreenbutton, #employmanagerbutton { 
    padding: 5px; margin: 5px; 
    width: fit-content; height: fit-content;
    text-align: center;
    border: 1px groove rgb(43, 110, 235);
    cursor: pointer;
  }
  #employmanagerbutton { visibility: hidden; }

/* stuff */
  #lottery { z-index: 1002; }
  #website { color: dodgerblue; font-weight: bolder; }
  #dialogbutton { width: fit-content; border: 1px groove rgb(109, 79, 109); background-color: rgb(214, 119, 214); }
  #changedistributorbutton { background-color: mediumblue; color: white; }
  #acceptdeclinebutton { position: relative; margin: 5px; padding: 5px; width: fit-content; cursor: pointer; }